#caixa{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
}
.membros{
    text-transform: uppercase;
    text-align: center;
}
.fundacao{
    text-align: center;
}
.data{
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 15px;
  padding: 15px;
  overflow: hidden;
  background-color: #000000;
 
}

li {
float:left;
position:relative;
left: 490px;
top: auto;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
body{
  background-color: #3d3c3c;
}
.caixadojames{
  border: 3px solid black;
position: fixed;
left: 450px;
background-color: white;
}
.guitarra{
  position: absolute;
  left: 10px;
}   
.caixadolars{
    border: 3px solid black;
    position: fixed;
    left: 700px;
    background-color: white;
}
#ulrich{
    right: 100px;
    }
.caixadokirk{
  border:3px solid rgb(0, 0, 0);
  position: fixed;
  left: 999px;
  background-color: white;
}